<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    
    <meta name="author" content="zahraa yaseen">
   
  
  
  
      
  
    <link rel=icon href=icon0.png>

    <title> Business</title>
    <link rel="stylesheet" href="css/bootstrap.css"> 



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    


    <script src="js/html5shiv.min.js"></script>
   
    <script src="js/respond.min.js"></script>


    <link rel="stylesheet" href="css/css.css">
    <link href="css/fontawesome.min.css" rel="stylesheet">
    <link href="css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/hover.css"> 


    <script src='https://kit.fontawesome.com/a076d05399.js'></script> 


</head>

<body>
    <!--start loading-->
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>

    </div>
    <!--end loading-->

    <!--start navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#container"
                    aria-expanded="false">
                    <span class="sr-only ">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand hvr-pop" href="#"><i class='fas fa-gem' style='font-size:20px;color:#FFA500'></i>
                    <strong>ABusiness</strong>
                    <strong style="color:#FFA500">Idea</strong>
                </a>

            </div>
            <div class="collapse navbar-collapse" id="container">
                <ul class="nav navbar-nav navbar-right ">
                    <li class="active"><a href="#HOME">HOME </a></li>
                    <li><a href="#OUR SERVICES">OUR SERVICES</a></li>
                    <li><a href="#CONTACT">CONTACT</a></LI>
                    <li><a href="#FOOTER">FOOTER</a></li>

                </ul>

            </div>

    </nav>

    </a>
    <!--end navbar-->

    <!------------------------------------------------------------------------------------------------->
    <!--start home slide-->

    <div id=HOME>
        <div id="slide" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
                <li data-target="#slide" data-slide-to="0" class="active">

                </li>
                <li data-target="#slide" data-slide-to="1"></li>
                <li data-target="#slide" data-slide-to="2"></li>
                <li data-target="#slide" data-slide-to="3"></li>

            </ol>

            <div class="carousel-inner" role="listbox">


                <div class="item active">
                    <img class=img src="images/image1.jpg" alt="image1">
                    <div class="carousel-caption ">
                        <h1> Welcome To Our Business</h1>
                        <p>Join us today!</p>
                        <p class="hidden-xs">With over 15 years of experience, helping businesses to grow.</p>


                    </div>
                </div>



                <div class="item">
                    <img src="images/image2.jpg" alt="image2">
                    <div class="carousel-caption">
                        <h1> Welcome To Our Business</h1>
                        <p>Join us today!</p>
                        <p class=hidden-xs>With over 15 years of experience, helping businesses to grow.</p>


                    </div>
                </div>


                <div class="item">
                    <img src="images/image3.jpg" alt="image3">
                    <div class="carousel-caption">
                        <h1> Welcome To Our Business</h1>
                        <p>Join us today!</p>
                        <p class=hidden-xs>With over 15 years of experience, helping businesses to grow.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="images/image4.jpg" alt="image4">
                    <div class="carousel-caption">
                        <h1> Welcome To Our Business</h1>
                        <p>Join us today!</p>
                        <p class=hidden-xs>With over 15 years of experience, helping businesses to grow.</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control hidden-xs" href="#slide" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control  hidden-xs" href="#slide" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!--end home slide-->


    <!-------------------------------------------------------------------------------------------------------------------------------------->
    <!--start OUR SERVICES-->

    <section class="sect1  text-center" id="OUR SERVICES">

        <hr style=" height: 1px;">
        <hr>
        <div class=container>



            <h1>OUR SERVICES</h1>
            <hr style="width:100px; height: 3px; margin-bottom: 80px; ">
            <div class=row>


                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">

                    <div class="contain hvr-grow">
                        <span class="glyphicon glyphicon-user  "></span>
                        <h3>CONSULTING</h3>
                        <p>This page is used for listing the services offered by your company. </p>
                        <article id="art1" style=display:none;>This page is used for listing the services offered by
                            your company.
                            You can add any service you want or edit the ones that are already listed. You can edit all
                            of this text and replace it with what you want to write.</article>
                        <button onclick="myfun()">
                            <p class="Skew Backward" id=buart1>LEARN MORE</p>
                        </button>
                    </div>
                </div>
                <!--end OUR SERVICES-->

                <!------------------------------->

                <!--start FINANCIAL-->

                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">

                    <div class="contain hvr-grow">
                        <span class="glyphicon glyphicon-usd"></span>
                        <h3>FINANCIAL</h3>
                        <p>You can add any service you want or edit the ones that are already listed. </p>
                        <article id="art2" style=display:none;>This page is used for listing the services offered by
                            your company.
                            You can add any service you want or edit the ones that are already listed. You can edit all
                            of this text and replace it with what you want to write.</article>
                        <button onclick="myfun2()">
                            <p id=buart2>LEARN MORE</p>
                        </button>
                    </div>
                </div>

                <!--------------------------------------->

                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">

                    <div class="contain hvr-grow">
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        <h3>MARKETING</h3>
                        <p>You can edit all of this text and replace it with what you want to write. </p>
                        <article id="art3" style=display:none;>This page is used for listing the services offered by
                            your company.
                            You can add any service you want or edit the ones that are already listed. You can edit all
                            of this text and replace it with what you want to write.</article>
                        <button onclick="myfun3()">
                            <p id=buart3>LEARN MORE</p>
                        </button>
                    </div>
                </div>


                <!------------------------------->
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">

                    <div class="contain hvr-grow">
                        <i class='fa fa-comments' ></i>
                        <h3>SUPPORT</h3>
                        <p>You can add any service you want or edit the ones that are already listed. </p>
                        <article id="art4" style=display:none;>This page is used for listing the services offered by
                            your company.
                            You can add any service you want or edit the ones that are already listed. You can edit all
                            of this text and replace it with what you want to write.</article>
                        <button onclick="myfun4()">
                            <p id=buart4>LEARN MORE</p>
                        </button>
                    </div>
                </div>
                <!-------------------------------->
            </div>
        </div>
        <hr style="background-color:rgb(7, 245, 201); height: 1px;">
        <hr style=" height: 1px;">
    </section>
    <!--end FINANCIAL-->

    <!----------------------------------------client say--------------------------------------------------------------->





    <div id="client" class=" client carousel slide" data-ride="carousel">

        <ol class="carousel-indicators hidden-xs">
            <li data-target="#client" data-slide-to="0" class="active"> </li>
            <li data-target="#client" data-slide-to="1"></li>
            <li data-target="#client" data-slide-to="2"></li>
            <li data-target="#client" data-slide-to="3"></li>


        </ol>
        <div class="container"></div>
        <h1 style="text-align: center;">what our client say</h1>
        <hr style="width:100px; height: 3px; ">


        <div class="carousel-inner" role="listbox">

            <div class="item active">


                <p class="lead">The About page is the core description of your website. Here is where you let clients
                    know
                    what
                    your website is about. You can edit all of this text and replace it with what you want to
                    write.
                    For example you can let them know how long you have been in business, what makes your
                    company
                    special, what are its core values and more.</p>


            </div>



            <div class="item">


                <p class="lead">The About page is the core description of your website. Here is where you let clients
                    know
                    what
                    your website is about. You can edit all of this text and replace it with what you want to
                    write.
                    For example you can let them know how long you have been in business, what makes your
                    company
                    special, what are its core values and more.</p>



            </div>


            <div class="item">

                <p class="lead">The About page is the core description of your website. Here is where you let clients
                    know
                    what
                    your website is about. You can edit all of this text and replace it with what you want to
                    write.
                    For example you can let them know how long you have been in business, what makes your
                    company
                    special, what are its core values and more.</p>

            </div>


            <div class="item">

                <p class="lead">The About page is the core description of your website. Here is where you let clients
                    know
                    what
                    your website is about. You can edit all of this text and replace it with what you want to
                    write.
                    For example you can let them know how long you have been in business, what makes your
                    company
                    special, what are its core values and more.</p>

            </div>

        </div>


    </div>
    </div>
    </div>
    <!-------------------------------------- skill-------------------------------------------------->

    <div class="skill  text-center">
        <div class=data>
            <div class=container>
                <h1 class="text-center"> skill client</h1>
                <hr style="width:100px; height: 2px;  border: none; margin-bottom: 40px ;">
                <div class=row>
                    <div class="col-sm-6 col-xs-12 ">
                        <div class=about>
                            <h3>about your skill</h3>
                            <p>The About page is the core description of your website. Here is where you let clients
                                know
                                what
                                your website is about. You can edit all of this text and replace it with what you want
                                to
                                write.
                                For example you can let them know how long you have been in business, what makes your
                                company
                                special, what are its core values and more.</p>
                        </div>

                        <div id=app style="color: #FFA500; display: flex;  justify-content: space-around;">

                            <ul style="color: white; list-style: none;">
                                <li v-for="(skill,index) in skills"> {{index}} =>{{skill}}</li>
                            </ul>
<div>
                            <p v-if="html>=90 ">your in html Excellence</p>
                            <p v-else-if="html>=70 && html<80 ">your in html good</p>
                            <p v-else-if="html>=80 && html<90">your in html very good</p>
                            <p v-else-if="html>=60 && html<70">your in html Average</p>
                            <p v-else-if="html>=50 && html<60">your in html Acceptable</p>
                            <p v-else>your in html Weak</p>


                            <p v-if="css >= 90 ">your in css Excellence</p>
                            <p v-else-if="css>=70 && css<80 ">your in css good</p>
                            <p v-else-if="css >= 80 && css < 90">your in css very good</p>
                            <p v-else-if="css>=60 && css<70 ">your in css Average</p>
                            <p v-else-if="css>=50 && css<60 ">your in css Acceptable</p>
                            <p v-else>your in css Weak</p>



                            <p v-if="js >= 90 ">your in js Excellence</p>
                            <p v-else-if="js>=70 && js<80 ">your in js good</p>
                            <p v-else-if="js >= 80 && js < 90">your in js very good</p>
                            <p v-else-if="js>=60 && js<70 ">your in js Average</p>
                            <p v-else-if="js>=50 && js<60 ">your in js Acceptable</p>
                            <p v-else>your in js Weak</p>

                            <p v-if="bsp >= 90 ">your in bsp Excellence</p>
                            <p v-else-if="bsp>=70 && bsp<80 ">your in bsp good</p>
                            <p v-else-if="bsp>=  80 && bsp <90">your in bsp very good</p>
                            <p v-else-if="bsp>=60 && bsp<70 ">your in bsp Average</p>
                            <p v-else-if="bsp>=50 && bsp<60 ">your in bsp Acceptable</p>
                            <p v-else>your in bsp Weak</p></div>
                        </div>
                        
                    </div>

                    <div class="col-sm-6 col-xs-12 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                <p>html</p>

                            </div>

                        </div>

                        <div class=progress>
                            <div class="progress-bar progress-bar-danger progress-bar-striped active "
                                role="progressbar" aria-valuenow="85" aria-valuemax="100" aria-valuemin="0"
                                style="width: 85%">
                                <p>css</p>
                            </div>

                        </div>
                        <div class=progress>
                            <div class="progress-bar progress-bar-primary progress-bar-striped active "
                                role="progressbar" aria-valuenow="40" aria-valuemax="100" aria-valuemin="0"
                                style="width:40%">
                                <p>javascript</p>
                            </div>

                        </div>
                        <div class=progress>
                            <div class="progress-bar progress-bar-info progress-bar-striped active " role="progressbar"
                                aria-valuenow="60" aria-valuemax="100" aria-valuemin="0" style="width: 60%">
                                <p>bootstrap</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>



    </div>
    </div>





    <!----------------------------------------contact-------------------------------------------------------------->
    <div id=CONTACT>
        <Ddiv CLASS="row">
            <h1 style="text-align:center">CONTACT</h1>
            <hr style="width:100px; height: 3px;  margin-bottom: 80px; ">

            <div class="col-sm-6  col-xs-12">
                <div class=text-center>
                    <h4>Manhattan, New York, NY, USA</h4>
                    <p><a href = "mailto:template@site123.com"> template@site123.com</a> </p>
                    <p>9852451730</p>
                    <p>Monday-Friday</p>
                    <p>11:00 - 21:00</p>
                    <div id=pp>
                     <p>{{date}}</p>
                        <button @click='myfun'>SHOW NEW DATE</button>
                    </div>
                </div>
            </div>


            <div class="col-sm-6  col-xs-12  ">

                <div class=from-group>
                    <div class=" col-xs-11">
                        <input class="col-sm-5 col-xs-11" type="text" placeholder="NAME">
                        <input class="col-sm-5   col-sm-offset-2   col-xs-11 " type="text" placeholder="PHONE">
                    </div>

                    <div>
                        <input class="col-xs-11" type="email" placeholder="ENTER EMAIL">
                    </div>


                    <div>
                        <input class="col-xs-11 " type=TEXT placeholder="MESSAGE">
                    </div>

                    <div>
                        <button class=" col-xs-11">contact us</button>
                    </div>


                </div>



            </div>
    </div>
    </div>

    <!---------------------------------------------------------------------------------->

    <footer id=FOOTER>

        <div class=container>
            <div class=row>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class=footer>
                        <h4> <a href="#">OVERFLOW</a> </h4>
                        <ul class=list-unstyled>
                            <li> <a href="#">Questions</a> </li>
                            <li> <a href="#">Teams</a></li>
                            <li><a href="#">About </a></li>
                            <li> <a href="#">Technology</a></li>
                        </ul>


                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class=footer>

                        <h4><a href="#">PRODUCTS</a> </h4>
                        <ul class=list-unstyled>
                            <li> <a href="#">Jobs</a> </li>
                            <li> <a href="#">Talent</a></li>
                            <li> <a href="#">Press</a></li>
                            <li><a href="#">Life/Arts</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class=footer>

                        <h4><a href="#">COMPANY</a></h4>

                        <ul class=list-unstyled>
                            <li> <a href="#">Developer Jobs Directory</a> </li>
                            <li> <a href="#">Advertising</a></li>
                            <li> <a href="#">Work Here</a></li>
                            <li> <a href="#">Culture/Recreation</a></li>
                        </ul>




                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class=footer>

                        <h4> <a href="#">STACK EXCHANGENETWORK </a></h4>
                        <ul class=list-unstyled>
                            <li> <a href="#">Help</a> </li>
                            <li> <a href="#">Advertising</a></li>
                            <li> <a href="#">Privacy Policy</a></li>
                            <li> <a href="#">Legal</a></li>
                        </ul>



                    </div>
                </div>




            </div>
        </div>





        <div id=SocialMedia class=" text-center">
            <span><a href="#">Blog </a></span>
            <span><a href="#">Facebook </a></span>
            <span><a href="#">Twitter </a></span>
            <span><a href="#">LinkedIn </a></span>
            <span><a href="#">Instagram </a></span>
            <p>site design / logo &copy; 2020 Stack Exchange Inc; user contributions licensed under cc by-sa. rev
                2020.11.4.37942</p>
                
        </div>




        </div>



    </footer>


    <!--start scroll t top-->
    <div class=divscroll>
        <i class=" fa fa-chevron-down fa-2x" aria-hidden="true"></i>
    </div>
    <!--end scroll t top-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/jquery.nicescroll.min.js"></script>-->

    <script src="js/js.js" type="text/javascript"></script>


    <!-- vue.js date-->
    <script src="js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
               
                html: 95,
                css: 85,
                js: 40,
                bsp: 60,
                skills: ['html', 'css', 'js', 'bsp'],
            },
            methods: {
                
     myfun:function(){
     
       this.date=Date();
     }
    }
        })




     var app = new Vue({
    el: '#pp',
    data: {
      date:"Today's Date",
    },
    methods: {
     myfun:function(){
     
       this.date=Date();
     }
    }
  })
    </script>
</body>